.input,  .numberInput input{
    box-shadow: none;
    border-color: var(--light-grey) !important;
    &:focus, &:hover, &:active{
     box-shadow: none !important;
     border-color: var(--black) !important;
    }
 }

