.left {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  .leftTop {
    h1 {
      font-size: 1.4em;
      color: var(--black);
    }
    h3 {
      font-size: 1.2em;
      color: var(--orange);
    }
  }
  .leftBottom {
    margin-top: auto;
    p {
      font-size: 1em;
      color: var(--grey);
      letter-spacing: var(--letter-spacing-1);
    }
    .btnGroup {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 140px;
      button {
        font-size: 1.4em;
        background-color: transparent;
        color: var(--black);
        border: 1px solid var(--black);
        outline: none;
        width: 40px;
        cursor: pointer;
      }
      div {
        font-size: 1.4em;
        border: 1px solid var(--light-gray);
        width: 40px;
        text-align: center;
        background-color: var(--light-gray);
        color: var(--dark-gray);
      }
    }
    .addBtn{
        margin-top: 1em;
    }
  }
}
.right {
  .carouselImg {
    height: 500px !important;
    width: 100%;
    object-fit: contain;
  }
}
