.wrap {
  padding: 2.5em 0;
 
  .top {
    display: flex;
    align-content: center;
    justify-content: space-between;
    .left {
      display: flex;
      justify-content: flex-start;
      p {
        color: var(--dark-grey);
        font-size: 1.2em;
        transition: var(--transition4);
        margin-right: 1em;
        cursor: pointer;
        &:hover {
          transition: var(--transition4);
          color: var(--orange);
        }
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      p {
        color: var(--dark-grey);
        font-size: 1.2em;
        transition: var(--transition4);
        margin-right: 1em;
        cursor: pointer;
        &:hover {
          transition: var(--transition4);
          color: var(--orange);
        }
      }
      p:last-child {
        display: flex;
        align-items: center;
        svg {
          margin-left: 0.5em;
        }
      }
    }
  }
  .bottom{
 
      .hiddenSearch{
        display: none;  
      }
      .showSearch{
        display: block;
          input{
              width: 100%;
              padding: 1em 1em 1em 0;
              border: none;
              border-bottom: 2px solid transparent !important;
              outline: none;
              font-size: 1.8em;
              &:focus{
                border-bottom: 2px solid var(--black) !important;
            }
          }
          
      }
      .filterHidden{
        display: none;
        
      }
      .filterShow{
        display: block;
        .filtersTitle{
            color: var(--black);
            font-weight: bold;
            font-size: 1em;
        }
        .filterGroup{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .sortWrap, .priceWrap{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            & label{
                margin: 0.5em 0;
            }
        }
        .filterTags{
            color: var(--black);
            padding: 0.3em;
            border-radius: var(--radius12);
            background: var(--white);
            margin: 0.5em;
            transition: var(--transition4);
            border: 1px solid var(--black);
            &:hover{
              transition: var(--transition4);
                background: var(--black);
                color: var(--white);
                border: 1px solid var(--black);
            }
        }
        .filterBtn{
            width: 100%;
            margin-top: 1.5em;
        }
      }

  }
}

.auto{
  height: auto;
}
.zero{
  height: 0;
}