.CarouselImg{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}
.textWrap{
   transform: scale(0) translateX(100vw);
   transition: transform 1s ease-in-out;

    position: absolute;
    left: 20%;
    top: 35%;
    max-width: 300px;
    padding: 1em 3em;
    background: var(--black);
    .title{
        color: var(--white);
        font-size: 1.8em;
    }
    .category{
        color: var(--grey);
        font-size: 1.3em;
        border-bottom: 1px solid var(--grey);
        display: inline;
        padding-bottom: 0.3em;
    }     
    
}
@media screen and (max-width: 567px){
    .CarouselImg{
        height: 35vh;
    }
    .slick-arrow{
        display: none !important;
    }
    .textWrap{
        left: 0%;
        top: 10%;
        padding: 0.5em;
        .title{
            font-size: 1.2em !important;
        }
        .category{
            font-size: 1em !important;
        }
    }
    
}