.footer{
    background-color: var(--black);
    padding: 3em 0;
    margin-top: 2em;
    .left{
        height: 40px;
        display: flex;
        align-items: center;
        ul{
            padding-left: 0;
            list-style: none;
            display: flex;
            margin-bottom: 0;
            li {
                margin-right: 1em;
                padding-right: 1em;
                border-right: 1px solid var(--grey);
                a{
                    color: var(--grey);
                    &:hover{
                        color: var(--light-grey);
                    }
                }
            }
            li:nth-last-of-type(1){
                border: none;
            }
        }
        .copyright{
            color: var(--white);
        }
    }
    .right{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul{
            list-style: none;
            padding-left: 0;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0;
            li{
                margin-left: 1.5em;
                a{
                    display: flex;
                    svg{
                        color: var(--white);
                    }
                }
               
            }
        }
    }
 
}