.header  .ant-checkbox-wrapper{
    margin-left: 0 !important;
    margin: 0.5em 0;
}
.header .filterGroup .ant-checkbox-wrapper{
    padding: 0.4em;
    width: 100px;
    border-radius: var(--radius12);
    display: flex;
}

.ant-modal{
    z-index: 999999 !important;
}

.ant-dropdown-placement-bottomLeft{
    left: 0px !important;
    right: 0 !important;
    top: 114px !important;
    background-color: white !important;
    padding: 1em !important;
    width: 100% !important;
}
.categorySticky{
    .ant-dropdown-placement-bottomLeft{
        top: 70px !important;
    }
}

.slick-active .textWrap{
    transform: scale(1) translateX(0);
    transition: transform 2s ease-in-out;
}