
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
  background-color: red;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  font-family: 'lato', cursive;
  font-display: swap;
}
*::selection {
  background-color: var(--gold);
}
*::-moz-selection {
  background-color: var(--gold);
}
:root {

  --letter-spacing-1: 1px;
  --letter-spacing-2: 2px;
  --letter-spacing-3: 3px;
  --letter-spacing-4: 4px;
  --transition2: 0.2s;
  --transition3: 0.3s;
  --transition4: 0.4s;
  --transition6: 0.6s;
  --transition8: 0.8s;
  --transition10: 1s;
  --transition12: 1.2s;
  --transition14: 1.4;
  --transition16: 1.6s;
  --transition18: 1.8s;
  --transition20: 2s;
  --radius2: 2px;
  --radius4: 4px;
  --radius6: 6px;
  --radius8: 8px;
  --radius12: 12px;
  --radius18: 18px;
  --radiusCircle: 50%;
  --white: white;
  --black: #282828;
  --light-grey: #d6d6d6;
  --grey: #868686;
  --dark-grey: #646464;
  --green: #05ac92;
  --bg-grey: #EEEEEE;
  --orange: #dc9814;
  --gold: #c7b3a2;
  --dark-gold: #928173;
  --font-mouse: clamp(12px, calc(-0.875rem + 1vw), 1rem);
  --font-cat: clamp(0.9rem, 0.9rem + 0.1vw, 1.2rem);
  --font-dog: clamp(1.1rem, 1rem + 0.2vw, 2rem);
  --font-wolf: clamp(1.3rem, 1rem + 0.5vw, 2.2rem);
  --font-lion: clamp(1.5rem, 1rem + 1vw, 2.5rem);
  --font-bear: clamp(1.6rem, 1rem + 1.5vw, 3rem);
  --font-elephant: clamp(1.8rem, 1rem + 2vw, 4rem);
  --font-trex: clamp(2rem, 1rem + 3vw, 6rem);
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 576px) {
  .ant-dropdown {
    background-color: var(--grey) !important;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menuItemOnMobile {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin: 1em;
  }
}
.minHeight{
  min-height: 100vh;
}

.ant-carousel .slick-prev {
  z-index: 9 ;
  left: 3vw !important;
  display: block;
  background-color: var(--black) !important;
  border-radius: var(--radiusCircle);
  color: var(--white) !important;
  height: 43px !important;
  width: 43px !important;
}

.ant-carousel .slick-next {
  z-index: 9 ;
  right: 3vw !important;
  display: block;
  background-color: var(--black) !important;
  border-radius: var(--radiusCircle);
  color: var(--white) !important;
  height: 43px !important;
  width: 43px !important;
}

.ant-carousel .slick-prev:before {
  content: "<";
  position: absolute;
  top: 20%;
  left: 33%;
  font-size: 20px;
  color: var(--white) !important;
}
.ant-carousel .slick-next::before {
  content: ">";
  position: absolute;
  top: 20%;
  left: 38%;
  font-size: 20px;
}
.slick-dots li button{
  padding: 5px !important;
}
.slick-active button{
  background-color: var(--black) !important;
}
.black-button{
  padding: 0.2em 1.5em;
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
  font-size: 1.2em;
  border: 1px solid var(--black);
  outline: none;
  transition: var(--transition4);
  &:hover{
      transition: var(--transition4);
      background-color: var(--white);
      color: var(--black);
      border: 1px solid var(--black);
  }
}
.white-button{
  padding: 0.2em 1.5em;
  cursor: pointer;
  color: var(--black);
  background-color: var(--white);
  font-size: 1.2em;
  border: 1px solid var(--light-grey);
  transition: var(--transition4);
  outline: none;
  &:hover{
      transition: var(--transition4);
      background-color: var(--black);
      color: var(--white);
      border: 1px solid var(--black);
  }
}

.itemModalSlick .slick-prev{
  left: 50px;
  z-index: 1;
  &::before{
    color: var(--black);
    font-size: 33px;
  }
}
.itemModalSlick .slick-next{
right: 50px;
  &::before{
    font-size: 33px;
    color: var(--black);
  }
}

.ant-tabs-ink-bar {
  background-color: var(--dark-grey);
}

div[class*="ant-select"]{
  box-shadow: none !important;

  *{
    border-color: var(--light-grey) !important;
    box-shadow: none !important;
  }
}
